{% extends "time_tracking/base/base.html" %}

{% block title %}Impressum - TimeX{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Impressum</h1>
    <div class="mt-4">
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>PDR-Team GmbH<br>
        Siemensring 16<br>
        D-73557 Mutlangen – Germany</p>

        <h3>Kontakt</h3>
        <p>Tel: +49 (0) 800 308 1234<br>
        Fax: +49 (0) 800 308 1234 5<br>
        Email: info(at)pdr-team.de</p>

        <h3>Sitz der Gesellschaft</h3>
        <p>Mutlangen</p>

        <!-- Rest of the imprint content -->
    </div>
</div>
{% endblock %}